<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Title記述</title>
    <link href="../public_html/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {{message}} 
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../public_html/js/bootstrap.min.js"></script>
</body>
</html>